<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
	<head>
		<title th:fragment="title">Minesweeper - Partie en cours</title>
	</head>
	
	<body>
		<div th:fragment="content">
			<h1>Minesweeper - <span th:text=${gamemode.title}>difficulty_placeholder</span></h1>
			<p>
				<a th:href="@{/}" class="btn btn-secondary" role="button" aria-pressed="true">Retour</a>
			</p>
			<table class="gameplate">
				<tr class="gameplate_row" th:each="i : ${#numbers.sequence(0, __${gamemode.width}__-1)}">
					<td class="gameplate_cell" th:each="j : ${#numbers.sequence(0, __${gamemode.height}__-1)}">
						<a class="tile" th:href="@{/play/game/}+*{id}+@{/}+*{i}+@{/}+*{j}"><button></button></a>
					</td>
				</tr>
			</table>
			<br />
		</div>
	</body>
</html>