<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" th:fragment="layout (title, content)">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
		
		<title th:replace="${title}">title_fragment_placeholder</title> 
	</head>
	
	<body>
		<div class="container">
			<div class="jumbotron" th:replace="${content}">
				<p>content_fragment_placeholder</p>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
		<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
			<div class="container text-center">
				<small><em>"hmm... fuck"</em></small>
			</div>
		</footer>
	</body>
</html>