<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" th:fragment="layout (title, content)">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
		
		<title th:replace="${title}">title_fragment_placeholder</title> 
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Minesweeper V0.1.0</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
	      			<li class="nav-item">
	        			<a class="nav-link" href="/play/start">Jouer</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" href="/gamemode/list">Gestion des modes de jeu</a>
	      			</li>
	      		</ul>
      		</div>
		</nav>
		
		<div class="container">
			<div class="jumbotron" th:replace="${content}">
				<p>content_fragment_placeholder</p>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
		<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
			<div class="container text-center">
				<small><em>"hmm... fuck"</em></small>
			</div>
		</footer>
	</body>
</html>